.jumbotron{
    text-align: center;
}
body{
    background: url("https://s2.favim.com/610/140517/books-forever-infinity-books-forever-Favim.com-1765771.jpg");
    background: center;
}
img1{
    margin: 0 auto;
}
h2{
    text-align: center;
}